 @{
    ViewData["Title"] = "Home Page";
}
<style>
    .bod{
        background-color:#e1e8ed;
    }
    .col-2{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .col-3{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .b1{
       
        width: 150px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #1DA1F2;
        border:none;
        border-radius:10px;
        padding: 5px 20px;
        color:white;
        text-decoration:none;
    }
    .b1:hover {
        background-color:white;
        color:#1DA1F2;
        border: 2px solid #1DA1F2;
    }
    .b2{
       
        width: 150px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #F75E25;
        border:none;
        border-radius:10px;
        padding: 5px 20px;
        color:white;
        text-decoration:none;
    }
    .b2:hover {
        background-color:white;
        color:#F75E25;
        border: 2px solid #F75E25;
    }
    .w{
       
        width: 150px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #25D366;
        border-radius:10px;
        padding: 5px 20px;
        color:white;
        text-decoration:none;
    }

    .w:hover {
        background-color:white;
        color:#25D366;
        border: 2px solid #25D366;
    }
</style>
<body class="bod">
<img style="position:absolute; display:flex; flex-wrap:wrap; left:1000px; width:280px; height:280px; top:100px;" src="https://cdn-icons-png.flaticon.com/512/1624/1624565.png" alt=""/>

<div class="container">
      
   <div class="row">
        <div class="col-3">Your connection ID</div>
        <div class="col-6"><span id="connectionId"/></div>
    </div> 
    <p></p>
    
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input style="border-radius:10px;" type="text" id="userInput" placeholder="Ex: Kevin"/></div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input style="border-radius:10px;" type="text" id="messageInput" placeholder="Write here"/></div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-2">Receiver Id</div>
        <div class="col-4"><input style="border-radius:10px;" type="text" id="receiverId" placeholder="Enter an user ID"/></div>
    </div>

    <center>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            
           <input class="b1" type="button" id="sendToUser" value="Send to User" style="border-radius:10px;"/>&nbsp;&nbsp;
           <input class="b2" type="button" id="sendButton" value="Send to All" style="border-radius:10px"/>
            <p></p>
           <div class="col-2"> OR </div> 
           <p></p>
            <a class ="w" href="~/Home/Whatsapp">Send Message via Whatsapp</a>
            
        </div>
    </div></center>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
</body>