@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img style="position:absolute; display:flex; flex-wrap:wrap; left:1000px; width:280px; height:280px; top:100px;" src="https://cdn-icons-png.flaticon.com/512/1624/1624565.png" alt="" />
    <link href="~/css/Chats/stylesChats.css" rel="stylesheet" />
    <div class="container">

        <div class="row">
            <div class="col-3">Your connection ID</div>
            <div class="col-6"><span id="connectionId" /></div>
        </div><p />

        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input style="border-radius:10px;" type="text" id="userInput" placeholder="Ex: Kevin" /></div>
        </div>
        <p />

        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input style="border-radius:10px;" type="text" id="messageInput" placeholder="Write here" /></div>
        </div>
        <p />

        <div class="row">
            <div class="col-2">Receiver Id</div>
            <div class="col-4"><input style="border-radius:10px;" type="text" id="receiverId" placeholder="Enter an user ID" /></div>
        </div>

        <center>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="botones">

                    <input class="b1" type="button" id="sendToUser" value="Send to User" style="border-radius:10px;" />&nbsp;&nbsp;
                    <input class="b2" type="button" id="sendButton" value="Send to All" style="border-radius:10px" />
                    <p></p>
                    <div class="col-2"> OR </div>
                    <p></p>
                    <a class="w" href="~/Home/Whatsapp">Send Message via Whatsapp</a>

                </div>
            </div>
        </center>
    </div>

    <div class="row">
        <div class="col-12">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</body>